
:root {
--cor-fundo: #9932c9;
--cor-principal: #808cf0 ;
--cor-secundaria: #d3ade9;
--cor-destaque: #eaf2f3;
--cor-texto: #0b0c0c;
}
body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
}
body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
}
body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.caixa-principal{
background-color: var(--cor-principal);
width: 90%;
text-align: center;
padding: 20px;
}
h1{
color: var(--cor-destaque);
}

